# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Scripts
*.cmd

# Project files & build
cmake-build-debug
.idea
build/
_deps/
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
bin/
lib/

# Compiled executables (project specific)
RISC_V
binary32
mips
binary32_test
mips_test
